include _cardEntries
extends base

block body
    h1.page-header Add a New Card
    form(action="/update/", method="post")
        +_cardEntries({})
        button.btn.btn-action(type="submit")
            i.fa.fa-plus-circle.icon-margin-r
            span Add Card
