doctype html

block vars

html
    head
        title= title || "Pokedex"

        //Mobile support
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        //Google fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400')

        //Font awesome via CDN
        link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css")

        //Base stylesheet
        link(rel='stylesheet', href='/r/css/base.css')

        //jQuery & jQuery UI & Bootstrap JS & Bootstrap3-dialog
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.1/js/bootstrap-dialog.min.js")

        block head
    body
        //Navbar
        nav.navbar.navbar-light.bg-faded: .container-fluid
            a(href="/").navbar-brand Pokedex
            ul.nav.navbar-nav
                li.nav-item: a(href="/list").nav-link All Cards
                li.nav-item: a(href="/add").nav-link Add
                li.nav-item: a(href="/find").nav-link Find
            form.form-inline.pull-xs-right(action="/list", method="get")
                .input-group
                    input.form-control(type='text', name="name", placeholder="Find by Name")
                    span.input-group-btn: button.btn.btn-secondary(type='submit'): i.fa.fa-search
        //Main body
        .container-fluid
            //Flashes
            .messages
                if (messages.info)
                    each message in messages.info
                        .alert.alert-success
                            button.close(type="button", data-dismiss="alert")
                            strong=message
            //Body
            .body: block body

        //Load JS
        script(src="/r/js/deleteCardButton.js")

        //position:sticky polyfill & implementation
        script(src="https://cdnjs.cloudflare.com/ajax/libs/stickyfill/1.1.4/stickyfill.min.js")
        script(src="/r/js/sticky.js")