doctype html

block vars

html
    head
        title= title || "Pokedex"

        //Mobile support
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        // Bootstrap & Normalize
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous")

        //Google fonts
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto+Slab:400')

        //jQuery & Bootstrap JS & Bootstrap3-dialog
        script(src="https://code.jquery.com/jquery-2.2.4.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.1/js/bootstrap-dialog.min.js")


        //Base stylesheet
        link(rel='stylesheet', href='/r/css/base.css')

        block head
    body
        nav.navbar.navbar-default.navbar-top: .container-fluid
            .navbar-header: a(href="/").navbar-brand Pokedex
            ul.nav.navbar-nav.navbar-left
                li: a(href="/list") All Cards
                li: a(href="/add") Add
                li: a(href="/find") Find
            form.navbar-form.navbar-right(action="/list", method="get")
                .input-group
                    input.form-control(type='text', name="name", placeholder="Find by Name")
                    span.input-group-btn: button.btn.btn-default(type='submit') Go!

        .container-fluid: block body
