include _queryControls
extends base
block body
    form(action="/list/", method="get")
        h1 Search Cards
        +_queryControls(card, filter)
        input.btn.btn-primary.btn-lg.action-btn(type="submit", value="Find Card")
