include _cardEntries
extends base
include _deleteCard

block append head
    script(src="/r/js/deleteCardButton.js")

block body

    form(action=target, method="post")
        h1.page-header View a Card
            .btn-group.btn-group-md.btn-group-header.pull-xs-right
                button.btn.btn-primary-outline(type="sumbit"): i.fa.fa-save
                button.btn.btn-primary-outline.delete-card(data-card-id=card._id): i.fa.fa-trash

        mixin _cardEntries(card)


