.inline-subheading{
  color:$gray-light;
  font-style:italic;
  font-size: $font-size-h6;
  text-align:right;
}

.page-header{
  background-color:fade-out($body-bg, 0.05);
  border-bottom:1px solid $brand-primary;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.alert-meh{
  border:1px dashed #ccc;
  padding-top:2px;
  padding-bottom:2px;
  color:#ccc;

  button.close{
    padding:0;
    margin:0;
  }
}

.no-result-alert{
  margin-top:50px;
  border-radius: 5px;
  border: 1px dashed #ccc;
  max-width:400px;
  height:200px;
  padding-top:40px;
  color:#ccc;
  @include center-block();
}

.hover-btn-outline{
  &:hover{
    //@include button-variant($gray-dark, $body-bg, $gray-light);
    box-shadow: inset 0 0 0 1px $brand-primary;
    cursor:pointer;
  }
}
