// ----------   Margins, Widths, Padding
.pad-v {
  margin-top:20px;
  margin-bottom:20px;
}

.pad-v-sm {
  margin-top:5px;
  margin-bottom:5px;
}

.pad-h-sm{
  margin-left:5px;
  margin-right:5px;
}

.margin-r{
  margin-right:10px;
}

.margin-l{
  margin-left:10px;
}

.container-fluid{
   max-width:900px;
}

.body{
  margin-top:75px;
}

// ----------   Utility Classes
.hide{ display:none !important; }
.no-margin{ margin:0 !important;}
