//Colors
$brand-primary:  #c8311d;
$brand-success:  #5cb85c;
$brand-info:     #5bc0de;
$brand-warning:  #f09430;
$brand-danger:   #d9cd2b;

$link-color: #073665;

$input-border-focus: $brand-primary;
$input-box-shadow-focus: fade-out($brand-primary, .5);


@import "bootstrap";
@import "_variables";

@import "_icons";
@import "_buttons";
@import "_utility";
@import "_elements";

